
$text-color: #333;
$Header-bg: rgb(182, 83, 83);
$body-bg: Beige;

.quiz-container {
  background-color: $body-bg;
  padding: 20px;
  min-height: 100vh;
  min-width: 100vw;
}

.plot-container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  color: black;
  border-radius: 33px;
  border: 1px solid black;
  margin: 0%;
  text-align: center;
  max-width: 650px; 
  margin-left: auto; 
  margin-right: auto;
  background-color: salmon;
  font-weight: bold;
  padding: 15px;
}

.input-container {
padding-top: 15px;

} 

